doctype
html
    head
        meta(charset="UTF-8")
        title #{title}
        //引用jquery等框架路径
        include ./includes/head  
    body
        //网页头部的信息
        include ./includes/header 
        block content
        
    